{% extends 'base.html' %}

{% block main %}
    <div class="mt-2 p-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.cod }}</th>
                        <td><a href="{%url 'product-detail' produto.id %}">{{ produto.name }}</a></td>
                        <td>{{ produto.price }}</td>
                        <td>{{ produto.qtd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
            <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}